/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff; /* Fondo azul claro */
    color: #333; /* Texto principal */
    padding-top: 70px; /* Espacio para el navbar fijo */
}

/* Navbar */
.navbar {
    position: fixed;
    left: 2.5%;
    right:2.5%;
    top:0;
    width: 90%;
    background-color: rgb(4 77 97 / 57%); 

    padding: 10px 20px;
    z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.295);
    
    margin:0.5%;
}

.navbar .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar .navbar-brand {
    color: #ffffff;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
}

.navbar .navbar-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.navbar .navbar-links a:hover {
    text-decoration: underline;
}

/* Contenedor principal */
.container {
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
}

/* Secciones de la página */
.client-list-section,
.register-section,
.welcome-section,
.login-section {
    padding: 40px;
}

.client-list-section h2,
.register-section h2,
.login-section h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    text-align: center;
}

.welcome-section {
    background-color: #68bfc3;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px;
}

.welcome-section h1 {
    margin-bottom: 10px;
}

.welcome-section p {
    font-size: 1.2em;
}

/* Tabla de clientes */
.client-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.client-table th,
.client-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.client-table th {
    background-color: #4a97bb9f;
    color: #ffffff;
}

.client-table tr:hover {
    background-color: #f1f1f1;
}

/* Estilos adicionales */
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-group input:focus,
.input-group select:focus {
    outline: none;
    border-color: #007BFF;
}

/* Botones */
.boton {
    text-align: center;
}

.boton .btn {
    background-color: #56a9a8;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

.boton .btn:hover {
    background-color: #3b814dd0;
}

/* Estilos adicionales para la tabla */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(104, 191, 195, 0.2); /* Verde agua marina claro */
}
