* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    padding-top: 60px; /* Añadir un poco de espacio en la parte superior para el navbar flotante */
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(104, 191, 195, 0.9); /* Color casi transparente */
    padding: 10px 20px;
    z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar .navbar-brand {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
}

.navbar .navbar-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.navbar .navbar-links a:hover {
    text-decoration: underline;
}

.container {
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
}

.client-list-section {
    padding: 40px;
}

.client-list-section h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    text-align: center;
}

.client-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.client-table th,
.client-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.client-table th {
    background-color: #68bfc3;
    color: #fff;
}

.client-table tr:hover {
    background-color: #f1f1f1;
}

/* Estilos adicionales */
.input-group {
    margin-bottom: 15px;
}

.input-group input:focus,
.input-group select:focus {
    outline: none;
    border-color: #007BFF;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.boton {
    text-align: center;
}

.boton .btn {
    background-color: #68bfc3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

.boton .btn:hover {
    background-color: #479845;
}

.register-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20%;
}

.register-section h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.welcome-section, .login-section, .register-section {
    padding: 40px;
    flex: 1;
}

.welcome-section {
    background-color: #68bfc3;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome-section h1 {
    margin-bottom: 10px;
}

.welcome-section p {
    font-size: 1.2em;
}

.login-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-section h2 {
    margin-bottom: 20px;
    color: #333;
}
