<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes de Operaciones</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles2.css"> 
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="navbar-container">
            <a class="navbar-brand" href="/principal">Credipay</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/clientes">Clientes</a></li>
                    <li class="nav-item"><a class="nav-link" href="/reportes">Reportes</a></li>
                    <li class="nav-item"><a class="nav-link" href="/operaciones">Operaciones</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h2>Reporte de Operaciones</h2>
        <form method="POST" action="/reportes">
            <div class="input-group">
                <label for="cliente">Selecciona un cliente:</label>
                <select id="cliente" name="cliente" class="form-control" required>
                    <option value="" disabled selected>Selecciona un cliente</option>
                    {% for client in clients %}
                    <option value="{{ client[0] }}" {% if client[0] == selected_client %}selected{% endif %}>
                        {{ client[1] }} {{ client[2] }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group">
                <label for="periodo">Selecciona un periodo:</label>
                <select id="periodo" name="periodo" class="form-control" required>
                    <option value="" disabled selected>Selecciona un periodo</option>
                </select>
            </div>
            <div class="boton">
                <button type="submit" class="btn btn-primary">Obtener Reporte</button>
            </div>
        </form>
        {% if operaciones %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Hito</th>
                    <th>Fecha</th>
                    <th>Línea</th>
                    <th>Tasa (%)</th>
                    <th>Tipo de Tasa</th>
                    <th>Monto Consumido</th>
                    <th>Interés</th>
                    <th>Monto a Pagar</th>
                    <th>Saldo</th>
                </tr>
            </thead>
            <tbody>
                {% set saldo_anterior = 0 %}
                {% for i, operacion in enumerate(operaciones, start=1) %}
                    {%  if i==1%}
                        {% set saldo = operacion[2] - operacion[5] %}
                        {% set saldo_anterior = saldo %}
                        
                    {%  else %}
                        {% set saldo = saldo_anterior - operacion[5] %}
                        {% set saldo_anterior = saldo %}
                        
                    {% endif %}
                    
                    <tr>
                        <td>{{ i }}</td>
                        <td>{{ operacion[1] }}</td>
                        <td>${{ '%.2f' % operacion[2] }}</td>
                        <td>{{ operacion[3] }}%</td>
                        <td>{{ operacion[4] }}</td>
                        <td>${{ '%.2f' % operacion[5] }}</td>
                        <td>${{ '%.2f' % (operacion[6] - operacion[5]) }}</td>
                        <td>${{ '%.2f' % operacion[6] }}</td>
                        <td>${{ '%.2f' % saldo }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="row mt-3">
            <div class="col-md-6">
                <p><strong>Fecha de Pago:</strong> {{ fecha_de_pago }}</p>
            </div>
            <div class="col-md-6">
                <p><strong>Monto Final a Pagar:</strong> ${{ '%.2f' % monto_final_a_pagar }}</p>
            </div>
        </div>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#cliente').change(function() {
                var clienteId = $(this).val();
                if (clienteId) {
                    $.ajax({
                        url: '/get_periodos/' + clienteId,
                        method: 'GET',
                        success: function(data) {
                            $('#periodo').empty();
                            $('#periodo').append('<option value="" disabled selected>Selecciona un periodo</option>');
                            data.forEach(function(periodo) {
                                $('#periodo').append('<option value="' + periodo + '">' + periodo + '</option>');
                            });
                        }
                    });
                }
            });
        });
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
