<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREDIPAY</title>
    
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/c13904b08e.js" crossorigin="anonymous"></script>

    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark  fixed-top">
            <a class="navbar-brand" href="#">CREDIPAY</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#definicion">¿Qué es Credipay?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#conocimientos">Funciones</a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="#aplicaciones">Beneficios</a>
                    </li>
                </ul>
            </div>
        </nav>
            <div class="content">
                <div class="lema">
                    <h2>"Gestiona los créditos de tus clientes , de una manera sencilla"</h2>
                </div>
                <div class="boton">
                    <a href="/login" class="btn" >Iniciar</a>
                </div>
            </div>
        
    </header>

    <div class="definicion">
        <section id="definicion" >
        <div class="cuadro">
                
                 
                
            <div class="texto-def">
                <h2 style="  color: rgb(0, 0, 0); ">Tu Aliado Financiero ;) </h2>
                 <br>
                <h2>¿Qué es?</h2>
                <p>CrediPay es tu aliado financiero personalizado, diseñado para facilitar y mejorar tu gestión de pagos y operaciones financieras. Nos especializamos en ofrecer soluciones ágiles y seguras para tus necesidades de crédito y transacciones diarias.</p>
                <p>Con CrediPay, gestionar tus pagos y transacciones nunca fue tan sencillo. Nuestra plataforma intuitiva te permite realizar operaciones con solo unos pocos clics.</p>
                <h2>¿Por qué elegir CrediPay?</h2>
                <p>En CrediPay, creemos en la transparencia, la confianza y la satisfacción del cliente. Nuestro compromiso es proporcionarte una experiencia financiera superior, respaldada por tecnología avanzada y un equipo dedicado.</p>
                <p>Descubre cómo CrediPay puede hacer que tus transacciones financieras sean más simples y eficientes. Únete a nosotros hoy mismo y experimenta la diferencia.</p>
            </div>
            <div class="fordfulk">
                <div style="text-align: center;">
                    <img src="static/assets/images/credi.jpg" alt="Imagen Ford" style="width: 190px; height: auto;">
                    
                </div>
                
                <div style="text-align: center; margin-top: 20px;">
                    <img src="static/assets/images/pay.jpg" alt="Imagen Fulkerson" style="width: 190px; height: auto;">
                </div>
            </div>
            
        </div>
        </section>
    </div>
    <div class="conocimientos">
        <section id="conocimientos">
            <div class="carrusel">
                <h2>Credipay te permite</h2>
                <button id="anterior" class="botoncarrusel">Anterior</button>
                <div class="elemento visible">
                    <p><strong>Gestionar Clientes:</strong> Permite administrar la información detallada de cada cliente, incluyendo datos personales como: nombres completos , dni, numero de telefono,etc.</p>
                    <img src="static/assets/images/clientes.png" alt="grafo" style="width: 30%; height: auto;">
                </div>
                <div class="elemento">
                    <p><strong>Realizar operaciones</strong> Registra las operaciones que tus clientes realicen tanto como de consumo y pago. Por cada operación se registran: el monto , la tasa de la operación , el interés generado y la fecha de operación.
                        <br>
                            -Operaciones de consumo a cancelar en fecha de pago: Realiza operaciones de consumo para ser canceladas a la fecha del pago asignado al cliente.
                        <br>
                            -Operaciones de consumo para ser canceladas a  cuotas: Realiza operaciones en distintas cuotas y puedes asignar plazos de gracia.
                        </p>
                    <img src="static/assets/images/operaciones.png" alt="Nodos" style="width: 30%; height: auto;">
                </div>
                <div class="elemento">
                    <p><strong>Configurar cuentas:</strong> Personaliza y ajusta la configuración de la cuenta del cliente. Credipay te permite asignar una línea de crédito , una tasa del tipo efectivo o nominal y una tasa moratoria.</p>
                    <img src="static/assets/images/cuenta.png" alt="aristas" style="width: 30%; height: auto;">
                </div>
                <div class="elemento">
                    <p><strong>Generar reportes:</strong> Permite generar reportes de los clientes que desee el usuario , se muestra las operaciones realizadas según el periodo seleccionado por el usuario.</p>
                    <img src="static/assets/images/reportes.png" alt="aristas" style="width: 30%; height: auto;">
                </div>
                
                
                <button id="siguiente"class="botoncarrusel">Siguiente</button>
            </div>
        
            <script>
                const elementos = document.querySelectorAll('.elemento');
                let indiceVisible = 0;
        
                function mostrarElemento(indice) {
                    elementos.forEach((elemento, index) => {
                        if (index === indice) {
                            elemento.classList.add('visible');
                        } else {
                            elemento.classList.remove('visible');
                        }
                    });
                }
        
                document.getElementById('anterior').addEventListener('click', () => {
                    indiceVisible = (indiceVisible - 1 + elementos.length) % elementos.length;
                    mostrarElemento(indiceVisible);
                });
        
                document.getElementById('siguiente').addEventListener('click', () => {
                    indiceVisible = (indiceVisible + 1) % elementos.length;
                    mostrarElemento(indiceVisible);
                });
        
                mostrarElemento(indiceVisible);
            </script>
        </section>
    </div>
        
     
    <div class="aplicaciones">    
        <section id="aplicaciones">
        <div class="cuadro2">
            <h2>Beneficios de usar Credipay</h2>
            <div class="items">
                <div class="viajes">
                    <i class="fa-solid fa-check-circle fa-beat fa-2xl" style="color: #1f4db8bc;"></i>
                    <br>
                    <h7>Fácil de Usar: Nuestra plataforma intuitiva permite gestionar créditos y pagos de manera sencilla y eficiente.</li>
                </div>
                <div class="transmisión_datos">
                    <i class="fa-solid fa-lock fa-beat fa-2xl" style="color: #1f4db8bc;"></i>
                    <br>

                    <h7>Seguridad: Implementamos altos estándares de seguridad para proteger la información y las transacciones de nuestros usuarios.</h7>
                </div>
                <div class="rutas">
                    <i class="fa-solid fa-headset fa-beat fa-2xl" style="color: #1f4db8bc;"></i>
                    <br>

                    <h7>Soporte 24/7: Nuestro equipo de soporte está disponible en cualquier momento para ayudarte con tus necesidades y consultas.</h7>
                </div>
                <div class="inventario">
                    <i class="fa-solid fa-chart-line fa-beat fa-2xl" style="color: #1f4db8bc;" ></i>
                    <br>

                    <h7>Reportes Detallados: Genera informes detallados sobre las transacciones y el estado de las cuentas, facilitando la toma de decisiones informadas.</h7>
                </div> 
                <div class="hidro">
                    <i class="fa-solid fa-sliders-h fa-beat fa-2xl" style="color: #1f4db8bc;"></i>
                    <br>

                    <h7>Personalización: Ajusta las configuraciones de la cuenta según las necesidades específicas de cada cliente.</h7>
                </div> 
                <div class="trafico">
                    <i class="fa-solid fa-eye fa-beat fa-2xl" style="color: #1f4db8bc;"></i>
                    <br>

                    <h7>Transparencia: Proporcionamos una experiencia financiera clara y sin sorpresas, con toda la información al alcance de tu mano.</h7>
                </div> 
            </div>
            </section>
        </div>
    </div>
</body>

</html>
